/* 
    Document   : amazon_affl_admin
    Created on : 17.05.2011, 10:13:37
    Author     : h_titz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

input.item{
    width: 30%;
}

input.url{
    width: 90%;
}

input[type='submit'].item{
    width: 10%;
}
